body {
    background: #000 url(../media/img/background.png);
}

.container {
    margin: 0 auto;
    color: #fff;
    max-width: 420px;
}

.list-container {
    box-shadow: 0 6px 10px 2px #000;
}

.pure-form input[type=text] {
    padding: 14px 50px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background: #333;
}

input[type=text].inline-todo-input {
    font-style: italic;
    background: #333 url(../media/img/box_sprite.png) 0 2px no-repeat;
}

.todo-list {
    position: relative;
    margin: 0;
    padding: 0;
    box-shadow: 0 6px 10px 0px #000;
}

.todo-list .todo-form {
    position: relative;
}

.todo-item {
    position: relative;
    padding: 14px 50px;
    list-style-type: none;
    background: #333 url(../media/img/box_sprite.png) 0 2px no-repeat;
}

.todo-item:hover {
    cursor: pointer;
}

.todo-item.hidden {
    display: none;
}

.todo-item:hover .todo-item-delete {
    display: block;
}

.todo-item.closed {
    background: #333 url(../media/img/box_sprite.png) 0 -37px no-repeat;
    text-decoration: line-through;
    color: #A0A0A0;
}

.todo-item::before,
.todo-list .todo-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 99%;
    background: #333 url(../media/img/dotted_line.png);
}

.todo-item-delete {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    display: none;
}

.info-panel {
    padding: 12px 14px;
    font-size: 12px;
    background: #1f1f1f;
    color: #A0A0A0;
    text-align: center;
}

.todo-counter {
    float: left;
}

.filter a {
    text-decoration: none;
    color: #A0A0A0;
}

.filter a.active {
    color: #fff;
}

.filter a:hover {
    color: #fff;
}

.completed-counter {
    float: right;
}

.container p {
    text-align: center;
    font-size: 12px;
    color: #A0A0A0;
}

@media only screen and (max-width: 480px) {
    .pure-form input[type=text] {
        margin-bottom: 0;
    }

    .todo-item-delete {
        display: block;
    }
}
